@model MediasiteUtil.Models.Folder
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table border="1">
    <tr><th>Folder Name</th><th>Folder Id</th><th>Parent Folder Id</th></tr>
    <tr><td>@Model.Name</td><td>@Model.Id</td><td>@Model.ParentFolderId</td></tr>
</table>
